body {
    text-align: center;
    background-color: dodgerblue;
}

#box {
    height: 200px;
    width: 200px;
    background: #fc3;
    margin: 0 auto;
    text-align: center;
    line-height: 200px;
}

.thing {
    height: 200px;
    width: 200px;
    background: #ac3;
    margin: 0 auto;
    text-align: center;
    line-height: 200px;
    border-top-left-radius: 200px;
}

button {
    background: #933;
    color: white;
    border: solid 2px black;
    border-radius: 5px;
    font-size: 18px;
}

.notification-bar {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.notification-bar a {
    color: #fc3;
}



/* -------------------------------
   HIDING & SHOWING jQUERY LECTURE
   ------------------------------- */

.hidden {
    display: none;
}

#box1 {
    height: 100px;
    width: 100px;
    background: #fc3;
    color: white;
    border: solid 4px #333;
    margin: 0 auto;
}


/* -------------------------------
   jQUERY ANIMATE LECTURE
   ------------------------------- */

#navArrows {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 10px auto 0;
    background: #333;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    padding: 20px;
}

.navigationArrow {
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 20px;
    background: white;
    color: #222;
}

#up {
    left: 50%;
    margin-left: -25px;
}

#left, #right {
    top: 50%;
    margin-top: -25px;
}

#right {
    right: 20px;
    left: inherit;
}

#down {
    bottom: 20px;
    top: inherit;
    left: 50%;
    margin-left: -25px;
}

.box {
    height: 100px;
    width: 100px;
    background: #a7f;
    color: white;
    border: solid 4px #a1f;
    line-height: 100px;
    margin: 100px auto 0;
    opacity: 0.5;
    
    /* for position properties to work in jQuery animate, you need to make sure the element being animated has a position property defined */
    position: relative;
        
}



/* -------------------------------
   jQUERY CSS LECTURE
   ------------------------------- */

#circle1 {
    display: inline-block;
    background: #8a8d22;
    color: white;
    text-align: center;
    line-height: 140px;
    height: 140px;
    width: 140px;
    margin: 40px;
}

.circleShape {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}





/* -------------------
   CAR RACER 2.0
   ------------------- */
#sky {
    background-color: skyblue;
    padding-top: 40px;
    margin-bottom: -20px;
}

#grass {
    background-color: green;
    padding: 20px;
    margin-top: -100px;
}

#title {
    display: inline-block;
    padding: 10px;
    padding-bottom: 20px;
    border: solid 1px black;
}


#racetrack {
    background: url('https://1fabcdd9f402475c6ea695cbd2bddff323938bf9.googledrive.com/host/0B9jCUoP6pzJYQWxKa0NtN0FQZWs') center left repeat-x;
    height: 360px;
    border-right: dashed 10px white;
    box-sizing: border-box;
    margin: 85px 0;
}

.car {
    display: block;
    position: relative;
    width: 400px;
    height: 400px;    
}

#car1 { top: -200px;}
#car2 { top: -395px;}

#go, #reset {width: 100px;}

#raceInfoContainer {
    width: 80%;
    margin: 40px auto 0;
    background: grey;
    height: 200px;
}

#raceInfoContainer h2 {
    color: yellow;
    text-transform: uppercase;
    border-bottom: solid 1px white;
    padding: 20px 0;
}

.raceInfo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    width: 50%;
    float: left;
    padding-bottom: 10px;
}

.raceInfo span {
    display: block;
    font-weight: normal;
    font-size: 18px;
    color: white;
}

#trax {
    color: black;
}

#raceInfo1 {
    color: whitesmoke;
}

#raceInfo2 {
    color: black;
}

input[type="button"] {
    background: #77b72f;
    color: white;
    padding: 10px 20px;
    border: solid 1px #444;
}

input#reset {
    background: #fc4;
    color: #444;
}

footer {
    background-color: black;
    color: white;
    margin-top: -40px;
    padding-bottom: 20px;
}

footer a {
    color: white;
}

.clearfix:after {
    content:"";
    display: table;
    clear: both;
}

